<script src="js/bootstrap-datepicker.min.js"></script>
<script>
    $('#create-note').click(function(e) {
        e.preventDefault();
        $.post(
                '/notes-rest/note',
                $('#new-note-form').serialize(),
                function(data, status, xhr) {
                    alert(status);
                }
        );
    });
    $('#modal-place').load("components/create-note-component.html");
</script>
<button type="button" class="btn btn-secondary float-md-right" data-toggle="modal" data-target="#add-note-dialog">
    Add new note
</button>
<div id="modal-place"></div>